<h2>Details for box {{ box[0]+1 }}, {{ box[1]+1 }}</h2>
<table class=details>
<tr><th>Recording</th><th>Participant</th><th>Value</th></tr>
{% for r in recordings %}
<tr>
<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td>{{ dataA[loop.index-1]|sigfigs|decplaces }}</td>

</tr>
{% endfor %}
{% if statsA %}
<tr><td></td><th colspan='2{'>statistics</th></tr>
<tr>
<td></td>
<td>x&#772;:</td>
<td>{{ statsA[0]|sigfigs }}</td>
</tr>
<tr>
<td></td>
<td>median</td>
<td>{{ statsA[1]|sigfigs }}</td>
</tr>
<tr>
<td></td>
<td>&sigma;</td>
<td>{{ statsA[2]|sigfigs }}</td>
</tr>
{% endif %}
</table>
