{% extends "layout.html" %}
{% block title %}{{ labelA }} vs {{ labelB }}{% endblock %}
{% block body %}
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>
  function boxDetail(id){
  var divs = document.getElementsByTagName("DIV");
  for (var i = 0; i < divs.length; i++){
                      if(divs[i].id == 'box' + id){
                      divs[i].style.display = 'block';
                      }
                      else if(divs[i].id.indexOf('box') == 0){
                      divs[i].style.display = 'none';
                      }
                      }
  var cells = document.getElementsByTagName("td");
  for (var i = 0; i < cells.length; i++){
                      if(cells[i].id == 'tblbox' + id){
                      cells[i].style.backgroundColor = '#eeeeee';
                      }
                      else if(cells[i].id.indexOf('tblbox') == 0){
                      cells[i].style.backgroundColor = '#ffffff';
                      }
                      }
                      }

  window.onload = function(){
  var divs = document.getElementsByTagName("DIV");
  for (var i = 0; i < divs.length; i++){
                      if(divs[i].id.indexOf('box') == 0){
                      divs[i].style.display = 'none';
                      }
                      }

}
</script>


<div class='section'>
<h1>Comparison: {{ labelA }} vs {{ labelB }}</h1>

<figure>
<img src='{{ plot['url'] }}' />
<figcaption>{{ plot['title'] }}</figcaption>
</figure>
</div>

{% if boxes %}
<div class='section'>
<h2>Table of results</h2>
<table class=details>
<tr style='text-align:center;'>
<th colspan=2></th>
{% for j in range(gridx) %}
<th>{{ loop.index }}</th>
{% endfor %}
</tr>

{% for i in range(gridy) %}
{% set outer_loop = loop %}
<tr>
<th>{{ loop.index }}</th>
<th>
{{ labelA }}:<br/>
{{ labelB }}:</span><br/>
p:</span>
</th>
{% for j in range(gridx) %}
<td id='tblbox{{ loop.index + (outer_loop.index-1) * gridx }}'><a href='javascript:void(0)' onclick='boxDetail({{ loop.index + (outer_loop.index-1) * gridx }});'>

{# array passed as array of columns, and we want to print with bottom
of each column at the top of the table #}

{{ boxes[((loop.index-1) * gridy) + (outer_loop.index-1)][0]|sigfigs|decplaces }}<br/>
{{ boxes[((loop.index-1) * gridy) + (outer_loop.index-1)][1]|sigfigs|decplaces }}<br/>
{{ boxes[((loop.index-1) * gridy) + (outer_loop.index-1)][2]|sigfigs |show_p}}<br/>
</a></td>
{% endfor %}
</tr>

{% endfor %}

</table>
</div>

<span id=result></span>
{% else %}
<div class='section'>
<h2>View comparisons on aggregated data</h2>
<p>
{% for t in translator %}
<a href="{{ url_for('compareSetDetails', ida=id[0], idb=id[1], plot=loop.index-1) }}">{{ t }}</a>
{% if not loop.last %} | {% endif %}
{% endfor %}
</p>
</div>
{% endif %}

{% if boxesA %}
{% for bid in range(gridx*gridy) %}
<div id='box{{ loop.index }}'>
<h2>Details for box {{ ((loop.index-1) % gridx)+1 }},{{ ((loop.index-1)//gridx)+1}}</h2>
<table>
<tr><th colspan='2'>{{ labelA }}</th><th colspan='2'>{{ labelB }}</th></tr>
{% for rec in range(maxRec) %}
<tr>
{% if recordingsA[rec] %}<td>{{ recordingsA[rec] }}</td><td>{{ boxesA[bid][0][loop.index-1]|sigfigs|decplaces }}</td>{% else %}<td></td><td></td>{% endif %}
{% if recordingsB[rec] %}<td>{{ recordingsB[rec] }}</td><td>{{ boxesB[bid][0][loop.index-1]|sigfigs|decplaces }}</td>{% else %}<td></td><td></td>{% endif %}
</tr>
{% endfor %}
<tr><th colspan='4'>Statistics</th></tr>
<tr><td>x&#772;:</td><td>{{ boxesA[bid][1][0]|sigfigs|decplaces }}</td><td></td><td>{{ boxesB[bid][1][0]|sigfigs|decplaces}}</td></tr>
<tr><td>median</td><td>{{ boxesA[bid][1][1]|sigfigs|decplaces }}</td><td></td><td>{{ boxesB[bid][1][1]|sigfigs|decplaces}}</td></tr>
<tr><td>&sigma;</td><td>{{ boxesA[bid][1][2]|sigfigs|decplaces }}</td><td></td><td>{{ boxesB[bid][1][2]|sigfigs|decplaces}}</td></tr>
</table>
</div>
{% endfor %}
{% endif %}

{% endblock %}


