{% extends "layout.html" %}
{% block title %} {{ plot['title'] }} data for {{ label }}{% endblock %}
{% block body %}
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>
  function boxDetail(id){
  var divs = document.getElementsByTagName("DIV");
  for (var i = 0; i < divs.length; i++){
                      if(divs[i].id == 'box' + id){
                      divs[i].style.display = 'block';
                      }
                      else if(divs[i].id.indexOf('box') == 0){
                      divs[i].style.display = 'none';
                      }
                      }
  var cells = document.getElementsByTagName("td");
  for (var i = 0; i < cells.length; i++){
                      if(cells[i].id == 'tblbox' + id){
                      cells[i].style.backgroundColor = '#eeeeee';
                      }
                      else if(cells[i].id.indexOf('tblbox') == 0){
                      cells[i].style.backgroundColor = '#ffffff';
                      }
                      }
                      }

  window.onload = function(){
  var divs = document.getElementsByTagName("DIV");
  for (var i = 0; i < divs.length; i++){
                      if(divs[i].id.indexOf('box') == 0){
                      divs[i].style.display = 'none';
                      }
                      }

}

</script>


<h1>{{ label }}: {{ plot['title'] }}</h1>

<figure>
<img src='{{ plot['url'] }}' />
<figcaption>{{ plot['title'] }}</figcaption>
</figure>

{% if boxes %}
<table class='details' id='main'>

<tr style='text-align:center;'>
<th colspan=2></th>
{% for j in range(gridx) %}
<th>{{ loop.index }}</th>
{% endfor %}
</tr>

{% for i in range(gridy) %}
{% set outer_loop = loop %}
<tr>
<th>{{ loop.index }}</th>
<th>
x&#772;:<br/>
<span class=minor>&sigma;:</span><br/>
<span class=minor>n:</span>
</th>
{% for j in range(gridx) %}
<td id='tblbox{{ loop.index + (outer_loop.index-1) * gridx }}'><a href='javascript:void(0)' onclick='boxDetail({{ loop.index + (outer_loop.index-1) * gridx }});'>
{# array passed as array of columns, and we want to print with bottom
of each column at the top of the table #}

{{ boxes[((loop.index-1) * gridy) + (outer_loop.index-1)][0]|sigfigs|decplaces }}<br/>
<span class='minor'>{{ boxes[((loop.index-1) * gridy) + (outer_loop.index-1)][1]|sigfigs|decplaces }}</span><br/>
<span class='minor'>{{ boxes[((loop.index-1) * gridy) + (outer_loop.index-1)][2] }}</span>
</a></td>
{% endfor %}
</tr>

{% endfor %}


</table>

<span id=result></span>
{% endif %}

{% for bd in details  %}
<div id='box{{ loop.index }}'>
<h2>Details for box {{ ((loop.index-1) % gridx)+1 }},{{ ((loop.index-1)//gridx)+1}}</h2>
<table class='details'>
<tr><th>Recording</th><th>Participant</th><th>Value</th></tr>
{% for r in recordings %}
<tr>
<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td>{{ bd[0][loop.index-1]|sigfigs|decplaces }}</td>

</tr>
{% endfor %}
{% if bd[1] %}
<tr><td></td><th colspan='2{'>statistics</th></tr>
<tr>
<td></td>
<td>x&#772;:</td>
<td>{{ bd[1][0]|sigfigs }}</td>
</tr>
<tr>
<td></td>
<td>median</td>
<td>{{ bd[1][1]|sigfigs }}</td>
</tr>
<tr>
<td></td>
<td>&sigma;</td>
<td>{{ bd[1][2]|sigfigs }}</td>
</tr>
{% endif %}
</table>
</div>
{% endfor %}

{% endblock %}


