{% extends "layout.html" %}
{% block title %}Dataset: {{ label }}{% endblock %}
{% block body %}
<script type="text/javascript">
  var avail = {{ gridList|safe }};
  var images = [];
  for(i=0; i<avail.length; i++){
  var image = new Image();
  image.src = "{{ prefix }}" + avail[i] + ".png";
  images.push(image.src);
}
</script>

<p><img src='' name="slide" /></p>
<p><span class="center">
<input type="range" id="cont" min="1" max="10" value="1" onchange="updateSlider(this.value)" oninput="updateSlider(this.value)">
<span id="display">10x6</span>
<a id="applylink" href="#">Apply</a>
</span></p>

<script type="text/javascript">
  document.getElementById("cont").max = avail.length;
  var changeUrl = '{{ url_for('change_ds_params', id=dsid, grid=1) }}';
  function updateSlider(val){
  document.images.slide.src = images[val-1];
  var disp = document.getElementById("display");
  disp.innerHTML = avail[val-1];
  grid_dim = disp.textContent;
  url = changeUrl.substring(0, changeUrl.length-1) + grid_dim;
  document.getElementById("applylink").href=url;
  if (avail[val-1] == "{{ best }}"){
  disp.style.fontSize = "150%";
  disp.style.fontWeight = "bold";
  }
  else{
  disp.style.fontSize = "100%";
  disp.style.fontWeight = "normal";
  }
  }

  window.onload = function(){
  updateSlider(1);
  }
</script>
{% endblock %}
