<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">  
</head>
<body>
<div class=metanav>
    <!-- h1><a href="/">Analysis</a></h1 -->
    <ul>
      {% if not session.logged_in %}
      <li><a href="{{ url_for('about') }}">about</a></li>
      <li><a href="{{ url_for('login') }}">log in</a></li>
      {% else %}
      <li><a href="{{ url_for('upload_file') }}">upload</a></li>
      <li><a href="{{ url_for('recordings') }}">recordings</a></li>
      <li><a href="{{ url_for('all_datasets') }}">datasets</a></li>
      <li><a href="{{ url_for('about') }}">about</a></li>
      <li><a href="{{ url_for('logout') }}">log out</a></li>
      {% endif %}
    </ul>
  </div>
<div class=page>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
<div class=footer>
<p>This <a href="{{ url_for('about') }}">web application</a> is experimental.  It is liable to crash and could give wrong or misleading results!  Contact <a href='mailto:andrew.brown@cs.manchester.ac.uk'>Andy Brown</a> if you have any questions or comments.</p>
<p>Last update: 21/6/13</p>
</div>
</body>
