{% extends "layout.html" %}
{% block title %}Recordings{% endblock %}
{% block body %}
<h1>Recordings</h1>

{% if recs|count > 0 %}
<div class=section>
<h2>View recordings</h2>
<form action="{{ url_for('modify_recordings') }}" method=post>
<table>
<tr><th>Recording</th><th>Participant</th><th>Comments</th><th>Format</th><th>Delete</th></tr>
    {% for rec in recs %}
      <tr>
        <td>{{ rec[0] }}</td>
        <td>{{ rec[1] }}</td>
        <td><input type=text name='note{{ rec[3] }}' value="{%if rec[2] != None %}{{ rec[2] }}{% endif %}"/></td>
        <td>{%if rec[4] %}new{%else %}old{%endif %}</td>
        <td><input type=checkbox name="delete" value="{{ rec[3] }}"</td>
      </tr>
    {% endfor %}
</table>

<input type=submit name='save' value='Apply changes'>
</form>

<p><a href="{{ url_for('createDataset') }}">Create a data set...</a></p>
</div>
{% endif %}

<div class=section>
<h2>Upload recordings</h2>
<form action="{{ url_for('upload_file') }} " method=post enctype=multipart/form-data>
  <p><input type=file name='file' multiple>
      <input type='checkbox' id='format' name='newformat' />
      <label for='format'>New format recordings</label>
      <input type=submit value=Upload>
</form>
</div>

{% endblock %}
