{% extends "layout.html" %}
{% block title %}Dataset: {{ label }}{% endblock %}
{% block body %}
<!-- title>{{ label }}</title -->
<h1>Dataset: {{ label }}</h1>
{% if comment  %}<p><b>Comment:</b> {{ comment }}</p>{% endif %}

<div class=section>
<h2>Input data</h2>
{% if stimulus != "None" %}<p>Stimulus name: {{ stimulus }}</p>{% endif %}
<table>
<tr><th>Participant</th><th>File</th><th>start time</th><th>end time</th><th>number of fixations</th><th>comments</th></tr>
{% for p in participants %}
<tr>
<td>{{ p[4] }}</td> <td>{{ p[0] }}</td> <td>{{ p[1] }}</td> <td>{{ p[2] }}</td> <td><a href={{ url_for('view_recording', id=dsid, rec=(loop.index-1)) }}>{{ p[3] }}</a></td><td>{% if p[5] != None %}{{ p[5] }}{% endif %}</td>
</tr>
{% endfor %}
<td></td> <td></td> <td></td> <td></td> <td>view all <a href={{ url_for('view_recordings', id=dsid) }}>together</a> or <a href='{{ url_for('visualise_video', id=dsid) }}'>on video</a></td><td></td>
</table>
</div>

<div class=section>
<h2>Analysis parameters</h2>
<table class='smalltab'>
<tr><th>Error radius</th><td>{{ params['errorRadius'] }} px</td></tr>
<tr><th>Fixation grouping radius</th><td>{{ params['groupingRadius'] }} px</td></tr>
<tr><th>Minimum fixation time</th><td>{{ params['fixationLengthFilter'] }} ms</td></tr>
<tr><th>Screen size</th><td>{{ params['screen']['width'] }} x {{ params['screen']['height'] }}</td></tr>
<tr><th>Grid size</th><td>{{ params['gridWidth'] }} x {{ params['gridHeight'] }} <a href={{ url_for('explore_parameters', id=dsid) }}>explore</a></td></tr>
</table>
</div>

<div class=section>
<h2>Results</h2>
{% for p in plots %}
<figure>
<a href="{{ url_for('showDetails', id=dsid, plot=p['plot']) }}"><img src='{{ p['url'] }}' width='400'/></a>
<figcaption>{{ p['title'] }}</figcaption>
</figure>
{% endfor %}
</div>

{% if sets|length > 1 %}
<div class=section>
<h2>Compare with other datasets</h2>
    <form name="dropdown">
<p><select id="comparelist" accesskey="target">
{% for s in sets %}
  {% if label != s[0] %}
<option value='{{ url_for('compareSets', ida=dsid, idb=s[1]) }}'>{{ s[0] }}</option>
{% endif %}
{% endfor %}
</select>
<input type=button value="Compare" onclick="goCompare()" />
</p>
</form>
<script type="text/javascript">
    function goCompare(){
        var url = document.getElementById("comparelist").value;
        if(url != 'none') {
            window.location = url;
        }
    }
</script>

{#<ul>
{% for s in sets %}
  {% if label != s[0] %}
<li><a href='{{ url_for('compareSets', ida=dsid, idb=s[1]) }}' title='{{ s[0] }}'>{{ s[1] }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
#}
{% endif %}

{% endblock %}
